<app-trip-card [trips]="trips" class="card-deck mt-2"></app-trip-card>
<div class="card ml-4" style="width: 18rem;">
  <div class="card-header">{{ trip.name }}</div>
  <img src="assets/images/{{ trips.image }}" alt="trip thumbnail" class="card-img-top">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">
      {{ trips.resort }}
    </h6>
    39
    <p class="card-subtitle mt-3 mb-3 text-muted">
      {{ trips.length }} only {{ trips.perPerson |
      currency:'USD':'symbol' }} per person</p>
    <p class="card-text" [innerHTML]="trips.description"></p>
  </div>
</div>